# DX22 gameplay tuning
enemyCount=3
waveMax=3
waveEnemyAddPerWave=1
cameraIntroDuration=1.2
cameraIntroFocusDistance=2.8
attackWindup=0.04
attackDuration=0.12
attackRecovery=0.1
attackCooldown=0.24
skill1Cooldown=4
skill2Cooldown=9
screenShakeHitThreshold=3
screenShakeDuration=0.18
screenShakeAmplitude=0.2
attackSweepDegrees=120
attackSweepRadiusScale=1.25
attackWidthScale=1.2
attackDepthScale=1
attackHitStop=0.05
attackKnockback=0.45
attackHitFlash=0.1
attackTrailInterval=0.02
attackTrailLife=0.16
attackTrailScale=0.75
playerDamageFlash=0.2
playerDamageInvincible=0.35
playerDamageFlashScale=1.65
enemyDefeatFlash=0.28
enemyDefeatFlashScale=1.6
volumeMaster=1
volumeBgm=0.02
volumeSe=0.13
enemyAttackWindup=0.55
enemyAttackCooldown=1
enemyAttackRangeMin=0.8
enemyAttackRangeScale=1.35
enemyAttackDamage=1
enemyMoveSpeed=1.2
waveEnemyMoveSpeedAdd=0.15
waveEnemyAttackDamageScalePerWave=0.2
enemyProjectileSpeed=6.5
enemyProjectileLife=1.4
enemyProjectileRadius=0.22
enemyProjectileDamageScale=0.85
enemySeparationRadius=1.1
enemySeparationWeight=0.8
enemySeparationMaxOffset=0.8
enemySpawnRingScale=0.35
enemySpawnJitterScale=0.1
enemySpawnMinPlayerDist=1.5
enemySpawnMinEnemyDist=0.9
pushSlop=0.01
playerPushShare=0.55
enemyPushShare=0.45
difficultyPreset=1
stageClearCount=15
attackPowerLevel=10
attackSpeedLevel=8
evadeCooldownLevel=2
lastUpgradeType=1
upgradeRerollMax=2
