# DX22 gameplay tuning
enemyCount=3
waveMax=3
waveEnemyAddPerWave=1
groundTileSize=1
cameraIntroDuration=3
cameraIntroFocusDistance=0.5
attackWindup=0.04
attackDuration=0.12
attackRecovery=0.1
attackCooldown=0.24
skill1Cooldown=4
skill2Cooldown=9
screenShakeHitThreshold=3
screenShakeDuration=0.18
screenShakeAmplitude=0.2
attackSweepDegrees=120
attackSweepRadiusScale=2
attackWidthScale=2
attackDepthScale=2
attackHitStop=0.05
attackKnockback=1.5
attackHitFlash=0.405
attackTrailInterval=0.02
attackTrailLife=0.16
attackTrailScale=0.75
playerDamageFlash=0.2
playerDamageInvincible=0.35
playerDamageFlashScale=1.65
enemyDefeatFlash=0.28
enemyDefeatFlashScale=1.6
volumeMaster=0.44
volumeBgm=0.09
volumeSe=0.67
directionMarkerAlpha=0.92
directionMarkerOverlapAlpha=0.45
bossHpBarWidthRate=0.42
bossHpBarHeightRate=0.045
bossGuardBarOffsetX=0
bossGuardBarOffsetY=6
bossGuardBarWidthRate=0.42
bossGuardBarHeightRate=0.018
bossSizeAreaScale=6
bossMaxHp=300
bossAttackTelegraph=1
bossAttackJumpOutTime=0.5
bossAttackDashDuration=0.35
bossAttackCooldown=1.15
bossAttackLanePlayerScale=3
bossAttackDamage=20
bossGuardInitialMax=6
bossGuardFinalMax=30
bossGuardRecoverStep=2
bossDamageScaleNormal=0.01
bossDamageScaleBroken=1.35
bossBreakRecoverSec=5
bossDashNarrowTelegraph=1
bossDashWideTelegraph=2
bossDashWideWidthRate=0.5
bossRandomRainCount=5
bossRandomRainTelegraph=1
bossRandomRainRadiusScale=1.6
bossSummonMin=5
bossSummonMax=10
bossSummonTelegraph=1
bossTrackingDropCount=5
bossTrackingDropTelegraph=1
bossTrackingDropRadiusScale=3
bossUltimateCrossTelegraph=1
bossUltimateCrossLaneScale=1
bossUltimateStompCount=5
bossUltimateStompTelegraph=3
bossUltimateStompRepeatTelegraph=1
bossUltimateStompRadiusScale=3
bossUltimateFieldTelegraph=7
bossUltimateFieldSafeScale=2
enemyAttackWindup=0.55
enemyAttackCooldown=1
enemyAttackRangeMin=0.8
enemyAttackRangeScale=1.35
enemyAttackDamage=1
enemyMoveSpeed=1.2
waveEnemyMoveSpeedAdd=0.15
waveEnemyAttackDamageScalePerWave=0.2
enemyProjectileSpeed=6.5
enemyProjectileLife=1.4
enemyProjectileRadius=0.22
enemyProjectileDamageScale=0.85
enemySeparationRadius=1.1
enemySeparationWeight=0.8
enemySeparationMaxOffset=0.8
enemySpawnRingScale=0.35
enemySpawnJitterScale=0.1
enemySpawnMinPlayerDist=1.5
enemySpawnMinEnemyDist=0.9
pushSlop=0.01
playerPushShare=0.55
enemyPushShare=0.45
difficultyPreset=1
stageClearCount=1
attackPowerLevel=0
attackSpeedLevel=0
evadeCooldownLevel=3
lastUpgradeType=5
upgradeRerollMax=2
