# DX22 particle effect preset
format=ParticleEffectPreset
version=1
positionX=0
positionY=1.1
positionZ=0
angleX=-15
angleY=0
angleZ=0
startSizeX=0.5
startSizeY=0.5
endSizeX=0.2
endSizeY=0.2
startColorR=0
startColorG=0.27027
startColorB=1
startColorA=1
endColorR=1
endColorG=1
endColorB=1
endColorA=0
emitSpeed=10
duration=0.2
emitCount=5
maxEmissionAngleDeg=180
particleLifetime=0.27
maxTravelDistance=2
alive=1
billboard=1
loop=1
worldSpace=1
texturePath=Assets/Texture/Effect/Star.png
